body {
  border: 0;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  height: 100%;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

p {
  margin-block: 0 16px;
}

h1 {
  font-size: 24px;
  margin-block-start: 0;
  margin-bottom: 16px;
}

h2 {
  font-size: 22px;
  margin-block-start: 0;
  margin-bottom: 16px;
}

h3 {
  font-size: 20px;
  margin-block-start: 0;
  margin-bottom: 16px;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin-bottom: 16px;
}

a {
  font-size: 13px;
  font-family: monospace;
}

a:link    { color: #00f; }
a:visited { color: #005; }
a:hover   { color: #00f; }
a:active  { color: #00f; }

th {
  text-align: left;
  border-bottom: 1px solid #ccc;
}

td {
  vertical-align: top;
  padding-right: 16px;
}

table {
  width: 100%;
  margin-bottom: 16px;
}

.softpage-container {
  padding:   32px;
  max-width: 1056px;
  margin:    0 auto;
}

.softpage-pre {

}

pre {
  border: 1px solid #ccc;
  padding: 16px;
}

/*
 * Main elements.
 */

header {
  border: 1px solid #000;
}

main {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  flex-shrink: 0;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  justify-content: flex-start;
  margin: 0;
  min-width: 0;
  padding: 0;
  width: 100%;
}

section {
  margin: 0;
  background-color: #fff;
  min-width: 0;
}

section.softpage-section-top-level {
  padding: 16px;
  border-bottom: 1px solid #000;
}

footer {
  font-family: monospace;
  padding: 16px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #fff;
}

.softpage-changes {
  font-size: 13px;
  font-family: monospace;
}
.softpage-changes td:nth-child(1) {
  padding-right: 16px;
}

.softpage-header-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  width: 100%;
  border-top: 1px solid #000;
  padding-top: 16px;
  padding-top: 16px;
}
.softpage-icon {

}
.softpage-header-title-and-shields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.softpage-header-title-container {
  display: flex;
  width: calc(4 * 128px);
  margin-bottom: 16px;
  margin-left: 16px;
}
.softpage-header-title-container h1 {
  margin-bottom: 0px;
  margin-left: 16px;
}
.softpage-header-title-container span {
  font-weight: bold;
}
.softpage-header-link {
  margin-top: 8px;
  margin-left: 16px;
  margin-bottom: 8px;
  font-size: 13px;
  font-family: monospace;
}
.softpage-header-shields {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 16px;
}
.softpage-header-shields a {
  margin-right: 8px;
}
.softpage-banner {
  margin-bottom: 32px;
}
.softpage-banner img {
  border: 1px solid #000;
}

/*
 * Navigation.
 */

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow: auto hidden;
  color: #000;
  background-color: #000;
  border: 1px solid #000;
}

ul.softpage-navigation {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  height: 64px;
  margin: 0;
  padding: 0;
}

ul.softpage-navigation > li {
  list-style: none;
  width: 128px;
  height: 32px;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
}

ul.softpage-navigation > li > a {
  display: block;
  line-height: 32px;
  width: 100%;
  font-family: monospace;
  font-size: 13px;
  color: #fff;
}

ul.softpage-navigation > li > a:hover {
  background-color: #fff;
  color: #000;
}
